body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  text-align: center;
}
.yes {
  color: green;
}
.no {
  color: red;
}
form {
  background-color: #1b1b32;
  color: #f5f6f7;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}
.personal-information {
  padding-top: 10px;
  padding-bottom: 10px;
}
#button {
  color: grey;
  font-size: 20px;
  margin-top: 10px;
}
